
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
color: white;

}

body {
    font-family: 'Lato', sans-serif;
    padding: 0px;
   background: linear-gradient(to right, #0f0c29, #302b63, #24243e)

  
}


#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
z-index: 100;
background-image: url(https://image-us.samsung.com/us/smartphones/galaxy-s25-ultra/images/galaxy-s25-ultra-features-kv.jpg?imbypass=true);
 background-position: center;
width: 100%;
margin-top: -20px;
padding-top: 20px;
}

#header-img {
    width: 100px;
    height: auto;
}

#nav-bar ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style: none;
    gap: 60px;
font-size: larger;

}

#nav-bar ul li {
    margin-bottom: 10px;
   
}

#nav-bar ul li a {
    text-decoration: none;
    color: rgba(1, 2, 12, 0.979);
    font-size: 16px;
    background-color: rgba(146, 133, 214, 0.534);

}

/* Responsive Header */
@media (max-width: 768px) {
    #header{
    position: fixed;
        flex-direction: column;
        align-items: center;
      
    }
   
    #nav-bar ul {
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        gap: 12px;
    }

    #nav-bar ul li {
        margin: 0 10px;
        
    }
}

/* Section 1 Styling */
.sec1 {
    position: relative;
    text-align: center;
    margin: 20px 0;
    top: 150px;
}

.sec1 p {
    margin-bottom: 15px;
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    color: rgb(216, 203, 203);
    margin: 20px 0;
    padding: 0 10px;
    font-style: italic;
}

.sec1 input.email {
    display: block;
    margin: 10px auto;
    width: 80%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sec1 input.button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 150px;
    border: 3px solid;
    background-color: rgb(254, 254, 254);
    color: #2a1de2;
    border-radius: 5px;
    cursor: pointer;
}

.sec1 input.button:hover {
    background-color: rgb(89, 34, 218);
    border: 1px solid blue;
    color: rgb(228, 222, 222);
}

/* Feature Div Styling */
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 60%;
   left: 25%;
   top: 140px;
  
  }

  .card {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 8px;
    
  }
  .card h2{
    font-size: 17px;
  }
  .card p{
    font-size: smaller;
  }
  .icon {
    width: 80px; 
    height: auto;
  }
  #video{
    box-shadow: 0 6px 12px rgb(10, 5, 5);
  }

@media(max-width: 768px) {
    .card{
        margin: 10px;
        padding: 15px;
    }
}
.model-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    position: relative;
    top: 111px;
    
}
.model-box {
    border: 1px solid rgba(221, 221, 221, 0.205);
    padding: 2px;
    text-align: center;
    width: 200px;
    margin: 1px;;
    border-radius: 5px;
    
   
}
.model-name {
    font-size: 1.2em;
    margin-bottom: 15px;
  color: rgb(235, 214, 214);
  padding: 10px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  
}
.price {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: green;
}
.select-btn {
    padding: 10px 20px;
    background:none;
    color: rgb(184, 233, 229);
    border: 3px solid blue;
    cursor: pointer;
    border-radius: 10px;
}
.select-btn:hover {
    background: none;
    color: rgb(238, 225, 225);
    border: 1px solid #0056b3;
}
.model-img{
    width: 80px; 
    height: auto;
}
/* Footer Styling */
#footer{
    width: 10%;
    display: inline;
  
}
#footer a{
    text-decoration: solid;
    color: rgb(218, 187, 187);
    background:none;
}